body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E8EBEE;
  display: flex;
  justify-content: center;
}

.post{
  width: 500px;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px black;
  background-color: whitesmoke ;
}

.post > img{
  width: 500px;
}
